.ipfs {
  table {
    border-collapse: collapse;
    font-family: monospace;
    width: 100%;
    text-align: left;
    td {
      vertical-align: top;
      border: 1px solid #b9b9b9;
      padding: 5px;
    }
  }
}